PORT=3001
NODE_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DB=job_radar
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6381

COLLECTOR_INTERVAL_MS=60000
FRONTEND_URL=http://localhost:3000
